* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  background: rgba(255, 255, 255, 0.986);
  position: relative;
  overflow:hidden;
}

.container {
  width: 1440px;
  height: 500px;
  margin: auto;
  margin-top: 8%;
}

img {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* pop up image styling */
.popupImage {
  width: 1050px;
  height: 698px;
  background: rgb(246, 245, 245);
  position: fixed;
  top: 12%;
  left: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(0);
}

.closeText {
  display: inline;
  color: black;
  font-family: system-ui;
  cursor: pointer;
  position: relative;
  right: -78%;
  top: 35px;
}

button.downloadBtn {
  padding: 10px 35px;
  background: #37a866;
  border: none;
  outline: none;
  position: relative;
  top: 29px;
  left: 20px;
  color: white;
  font-family: system-ui;
  font-size: 14px;
}
.downloadBtn:hover {
  background: #0d3f21;
}
.fa-download {
  color: white;
  font-size: 15px;
  position: relative;
  left: -5px;
}
.popimg {
  width: 971px;
  height: 564px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  top: 30px;
}

.darkOnBack {
  width: 100%;
  height: 150vh;
  background: rgba(0, 0, 0, 0.616);
  position: absolute;
  top: -50%;
  left: 0px;
  display: none;
  z-index: 0;
}

span {
    position: relative;
    top: 250px;
    left: 10px;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}
.active {
  display: block;
}

.activePopUp {
  left: 20%;
  opacity: 1;
  transform: scale(1.2);
}
